.home
{
  width: 100%;
  height: auto;
  background-color: rgb(255,200,3);
  position: relative;
  top : 90px;
  padding: 10px 0px;
}
.content
{
    width: 100%;
    display: flex;
    align-items: center;
}
.aligncont
{
    width: 100%;
     
}
.keep,.unlock
{
    font-size: 18px;
    font-family:  'Poppins', sans-serif;
    font-weight: bold;
}
.langcont
{
    font-size: 10vh;
    font-family:  "darker-grotesque";
}
.spanlang
{
    color: white;
}

.coursebtn
{
    color: white;
    background-color: black;
    padding: 2vh 2vh;
    border-radius: 15px;
    border: none;
}
.homepng
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.learn
{
  margin-top: 30px;
  width: 100%; 
  height: 100%;
}
